@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

::-webkit-scrollbar{
    width: 0px;
}

.padding{
    padding: 25px;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#gamebar{
    height: 75px;
    width: 50vw;
    background-color: rgba(33, 58, 92, 0.4);
    border-radius: 25px;
    border: 2px solid black;
    margin: auto;
    align-items: center;
    text-align: center;
    margin: 15px;
}

#smallbar{
    width: 200px;
    height: 75px;
    background-color: rgba(33, 58, 92, 0.4);
    border-radius: 25px;
    border: 2px solid black;
    position: absolute;
    margin-left: 15px;
}

iframe{
    border: 3px solid black;
    height: 85vh;
    width: 85vw;
    border-radius: 50px;
    line-height: 85vh;
}

#games{
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 70vw;
    background-color: rgba(33, 58, 92, 0.4);
    border-radius: 25px;
    border: 2px solid black;
    margin: 15px;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
}

img{
    width: 100%;
    min-height: 125px;
    max-height: 125px;
    border-radius: 20px;
    background-color: #1B2E53;
}

#game{
    display: table;
    padding: 0;
    margin: 0;
    height: 125px;
    max-height: 125px;
    min-height: 125px;
    background-color: rgba(33, 58, 92, 0.4);
    border-radius: 25px;
    border: 2px solid black;
    margin: 15px;
    min-width: 125px;
    max-width: 125px;
    background-color: #1B2E53;
}

#gamerow{
    display: flex;
}

#padding{
    padding: 20px;
}

h1 {
    font-size: 96px;
}

input{
    width: 25px;
    height: 25px;
    transform: translateY(6.25px);
}

button{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(33, 58, 92, 0.4);
    border: 3px solid black;
    border-radius: 15px;
}

a{
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}

.header{
    font-size: 38px;
}

#content {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#iframecontainer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
